<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--mysql服务器bin路径-->
    <add key="mysqlbin" value="C:\\Program Files\\MySQL\\MySQL Server 5.7\bin" />
    <add key="mysqlpwd" value="cjj123" />
    <!--生成备份文件的存放地址-->
    <add key="backuppath" value="E:\\mysqldb" />
    <!--备份的数据库-->
    <add key="backdb" value="blog" />
    <!--运行周期-->
    <add key="runtime" value="0 40 1 * * ?" />
    <!--运行周期-->
    <add key="runtimeupqiniu" value="0 0 2 * * ?" />
    <!--七牛-->
    <add key="qiniuak" value="TYb8ZurNoN-xrUOhnNom_q3ZdPl1OLJqUsvoP0xB" />
    <!--七牛-->
    <add key="qiniusk" value="d7ajdjoitbUiJZQY7ANw5bSf3p6K3nQA8KkGxIDq" />
    <!--七牛存储空间-->
    <add key="qiniubk" value="chenjianjundb" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
